<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geo Cotuca</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="imagens/bookIcon.png">

</head>

<body>
    <header>
        <div id="cabecalho1">
            <div id="cabecalinho">
                <img src="imagens/LOGO-removebg-preview.png" alt="" id="logo">
            </div>
        </div>


        <div id="cabecalho2">
            <div id="botoesCabecalho2">
                <a href="/livros"><input type="image" id="indicacoes" src="imagens/book.png" alt=""> </a>

                <a href="/exercicios"><input type="image" id="exercicios" src="imagens/write.png" alt=""> </a>

                <a href="/home"><input type="image" src="imagens/topicos.png" id="temas" alt=""> </a>

                <a href="/videos"><input type="image" src="imagens/marketing-de-video.png" id="videos" alt="">
                </a>

        </div>
        <br>
        <br>

    </header>
    <section id="corpitchoLogin">
        <div id="corpoLogin">
            <br>
            <br>
            <div id="counteinerAcesso">
                <br>
                <div id="cabecalhoCadastro">
                    <div id="imgCadastro">
                        <img src="imagens/login.png" alt="" id="login2">
                    </div>
                    <div>
                        <label id="lbAcesso">Dados de Cadastro</label>
                    </div>
                </div>

                <div id="txtAcesso">

                    <div id="txtNomeDiv">
                        <input type="text" name="Nome Completo: " placeholder="Nome Completo: " id="txtNome" maxlength="100">
                    </div>

                    <div id="txtemailAcessoDiv">
                        <input type="text" name="Email: " placeholder="E-mail: " id="txtemailAcesso" maxlength="100">
                    </div>

                    <div id="txtsenhaAcessoDiv">
                        <input type="password" name="Senha: " placeholder="Senha: " id="txtsenhaAcesso">
                    </div>

                    <div id="txtsenhaAcessoConfirmarDiv">
                        <input type="password" name="Senha: " placeholder="Confirmar senha: " id="txtsenhaAcessoConfirmar">
                    </div>
                 
     
                     
                    
                     <div id="btnAcesso">
                        <input type="button" value="Entrar" id="btnSalvarAcesso">
                    </div>
        
                    <div id="cadastroAcesso">
                        <Label id="lbCadastroAcesso1"> Já possui cadastro? </Label>
                    </div>
        
                    <div id="lbCadastroAcesso2">
                        <a href="./login.html"><label id="lbCadastroAcesso"> Entrar no GeoCotuca! </label></a>
                    </div>
                </div>

                
            </div>

           

        </div>

        </div>
        </div>
    </section>


</body>

</html>