<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geo Cotuca</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="imagens/bookIcon.png">

</head>

<body>
    <header>
        <div id="cabecalho1">
            <div id="cabecalinho">
                <img src="imagens/LOGO-removebg-preview.png" alt="" id="logo">
            </div>
        </div>


        <div id="cabecalho2">
            <div id="botoesCabecalho2">
                <a href="/Livros"><input type="image" id="indicacoes" src="imagens/book.png" alt=""> </a>

                <a href="/exercicios"><input type="image" id="exercicios" src="imagens/write.png" alt=""> </a>

                <a href="/home"><input type="image" src="imagens/topicos.png" id="temas" alt=""> </a>

                <a href="/videos"><input type="image" src="imagens/marketing-de-video.png" id="videos" alt="">
                </a>

                <a href="/login"><input type="image" src="imagens/login.png" id="login" alt=""></a>
            </div>
        </div>
        <br>
        <br>

    </header>
    <section id="corpitchoLogin">
        <div id="corpoLogin">
            <br>
            <br>
            <div id="counteiner">

                <div id="imgLogin2">
                    <img src="imagens/login.png" alt="" id="login2">
                </div>

                <div id="txt">

                    <div id="txtemailDiv">
                        <input type="text" name="Email: " placeholder="E-mail: " id="txtemail" maxlength="100">
                    </div>

                    <div id="txtsenhaDiv">
                        <input type="password" name="Senha: " placeholder="Senha: " id="txtsenha">
                    </div>

                </div>

                <div id="btn">
                    <input type="button" value="Entrar" id="btnSalvar">
                </div>

                <div id="cadastro">
                    <Label id="lbCadastro1"> Ainda não possui cadastro? </Label>
                </div>

                <div id="lbCadastro2">
                    <a href="./Cadastro.html"><label id="lbCadastro"> Cadastre-se aqui!</label></a>
                </div>

            </div>

        </div>
        </div>
    </section>


</body>

</html>