<!DOCTYPE html>
<html lang="en">
<!-- IMPORTANTE: mudar os links para irem para as rotas, não os arquivos -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geo Cotuca</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="icon" href="imagens/bookIcon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https: //fonts.googleapis.com/css2? family= Patrick+Hand & display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <div id="cabecalho1">
            <div id="cabecalinho">
                <img src="/public/imagens/LOGO-removebg-preview.png" alt="" id="logo">
            </div>
            <div id="searchBox1">
                <div class="searchBox">
                    <input type="text" id="searchTxt" placeholder="Pesquisar..">
                    <a href="#" class="searchBar">
                        <img src="/public/imagens/lupa-removebg-preview-removebg-preview.png" class="searchBtn" alt="Lupa">

                    </a>
                </div>
            </div>
                    </div>


        <div id="cabecalho2">
            <div id="botoesCabecalho2"> 
                <a href="/livros"><input type="image" id="indicacoes" src="/public/imagens/book.png" alt=""> </a>

                <a href="/exercicios"><input type="image" id="exercicios" src="/public/imagens/write.png" alt=""> </a>

                <a href="/home"><input type="image" src="/public/imagens/topicos.png" id="temas" alt=""> </a>

                <a href="/videos"><input type="image" src="/public/imagens/marketing-de-video.png" id="videos" alt="">
                </a>
        </div>

    </header>
    <section id="corpitcho">

        <div id="corpo">
            <div id="titulo">
                <h1><%= tema.title %></h1>
                <img src="<%= tema.image %>" alt="relevo"/> 
                <p><%= tema.body %></p>
            </div>
            <div id="temasCountainer"> </div>
    </section>
</body>

</html>